In [1]:
import math

## Strings

### Slicing

In [2]:
#A string is a list of chars
name = 'My name is Ryan Mitchell'

In [2]:
name[0]

'M'

In [3]:
name[1]

'y'

In [4]:
name[0:7]

'My name'

In [5]:
name[:7]

'My name'

In [6]:
name[11:]

'Ryan Mitchell'

In [7]:
myList = [1,2,3,4,5]

In [8]:
myList[2:4]

[3, 4]

In [9]:
len(name)

24

In [10]:
len(myList)

5

### Formatting

In [11]:
'My number is: '+str(5)

'My number is: 5'

In [12]:
f'My number is: {5}'

'My number is: 5'

In [14]:
f'My number is: {5} and twice that is {2*5}'

'My number is: 5 and twice that is 10'

In [3]:
# Pi rounded to 2 decimals
f'Pi is: {math.pi:.2f}'

'Pi is: 3.14'

In [4]:
# Before Python 3.6
'Pi is: {}'.format(math.pi)

'Pi is: 3.141592653589793'

### Multi-line Strings

In [7]:
#And how to add 3 quotes in a string
myString = '''
Here is a long block of text
I can add newlines!
the text doesn't stop until it sees \'\'\' 
 
'''

In [6]:
myString

"\nHere is a long block of text\nI can add newlines!\nthe text doesn't stop until it sees '''\n\n"

In [23]:
print(myString)

Here is a long block of text
I can add newlines!
the text doesn't stop until it sees '''